body {
  margin: 0vw 0vw;
  font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

.header-area {
  background-image: url("./images/image2.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vw;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 20fr;
}

.menu {
  padding: 0 10vw 0 10vw;
  top: 5vh;
  width: 80vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.2vw;
}

.b {
  transition: 0.5s;
}

.b:hover {
  color: grey;
  cursor: pointer;
}

.title-text {
  color: white;
  font-size: 8vw;
  padding: 15vw 1vw 0vw;
}

.main-body {
  background-color: white;
  color: black;
  text-align: center;
  height: auto;
  padding: 5vw 10vw;
  font-size: 8vw;
}

.photo-container {
  margin-top: 4vw;
  position: relative;
  height: 100vw;
}

#img1 {
  width: 20vw;
  position: absolute;
  top: 2vw;
  left: 2vw;
}
#img2 {
  width: 15vw;
  position: absolute;
  top: 5vw;
  left: 30vw;
}
#img3 {
  width: 20vw;
  position: absolute;
  top: 25vw;
  right: 18vw;
}
#img4 {
  width: 20vw;
  position: absolute;
  bottom: 32vw;
  right: 12vw;
}
#img5 {
  width: 15vw;
  position: absolute;
  top: 28vw;
  right: 1vw;
}
#img6 {
  width: 20vw;
  position: absolute;
  bottom: 0vw;
  right: 9vw;
}
#img7 {
  width: 30vw;
  position: absolute;
  top: 0vw;
  right: 0vw;
}
#img8 {
  width: 12vw;
  position: absolute;
  bottom: 30vw;
  left: 0vw;
}
#img9 {
  width: 30vw;
  position: absolute;
  bottom: 0vw;
  left: 15vw;
}
#img10 {
  width: 30vw;
  position: absolute;
  bottom: 46vw;
  left: 10vw;
}
#img11 {
  width: 8vw;
  position: absolute;
  bottom: 26vw;
  right: 0vw;
}
#photo-menu {
  width: 5vw;
  position: absolute;
  bottom: 0vw;
  left: 0vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 2.5vw;
  text-align: left;
}

#icon-bar {
  position: absolute;
  bottom: 0vw;
  right: 0vw;
  display: flex;
  flex-direction: column;
  align-items: middle;
  justify-content: center;
}

.icon {
  height: 2vw;
  width: 2vw;
  margin: 2vw;
  opacity: 1;
  transition: 0.2s;
}

.icon:hover {
  opacity: 0.5;
  cursor: pointer;
}

#bottom-text {
  text-align: center;
  font-size: 3vw;
  margin: 0vw 0vw 5vw;
  color: lightgray;
}